In [1]:
# import basic libraries and report versions
import numpy as np
import pandas as pd
import pandas_profiling as pdp
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import platform
print("python version: ",platform.python_version())
print("pandas version: ",pd.__version__)
print("numpy version: ",np.__version__)
print("seaborn version: ",sns.__version__)
print("pandas-profiling version: ",pdp.__version__)
print("matplotlib version: ",matplotlib.__version__)
sns.set_style('whitegrid')

python version:  3.7.6
pandas version:  1.0.3
numpy version:  1.16.0
seaborn version:  0.9.0
pandas-profiling version:  2.6.0
matplotlib version:  3.2.1

In [2]:
cd discovering-disease-outbreaks-base/data

/Users/joan/Documents/data_science/outbreaks/discovering-disease-outbreaks-base/data

In [3]:
from unidecode import unidecode

In [89]:

source = open('headlines.txt', 'r')
headlines = []

for line in source.readlines():
    headlines.append(unidecode(line).strip().replace('?',''))

In [90]:
import geonamescache

gc = geonamescache.GeonamesCache()
gc_countries = gc.get_countries()
gc_cities = gc.get_cities()

In [91]:
cityNames = []
for instance in gc_cities:
   cityNames.append (gc_cities[instance]['name'])

countryNames = []
for instance in gc_countries:
   countryNames.append (gc_countries[instance]['name'])

In [117]:

cities = []
countries = []

def chooseName(past, suggested):    
    if past == '':
        return suggested
    elif past in suggested:
        return suggested
    else:
        return past

    
dupes = 0
for line in headlines:
    cityFound=''
    countryFound=''
    for country in countryNames:
        if country in line:
            countryFound = chooseName(countryFound, country)
    for city in cityNames:
        if city in line:
            cityFound = chooseName(cityFound,city)
            if countryFound == '':
                find_cities = gc.get_cities_by_name(cityFound)               
                codes = []
                for cit in find_cities:                    
                    for key in cit:
                        ccd = cit[key]['countrycode']                       
                        codes.append(ccd)
                for cd in codes:  
                    cn = gc_countries[cd]['name']                    
                    if countryFound == '':
                        countryFound = cn
                    elif countryFound in cn:
                        dupes += 1
                    else:
                        countryFound += ', ' + cn
    
    cities.append(cityFound)   
    countries.append(countryFound)
    
   

    
df = pd.DataFrame(list(zip(headlines, countries, cities)), columns =['headline', 'countries', 'cities'])

In [118]:
df.info()
df.head(40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  650 non-null    object
 1   city      650 non-null    object
 2   country   650 non-null    object
dtypes: object(3)
memory usage: 15.4+ KB

,headline,city,country
0,Zika Outbreak Hits Miami,Miami,United States
1,Could Zika Reach New York City,New York City,"United Kingdom, United States"
2,First Case of Zika in Miami Beach,Miami Beach,United States
3,"Mystery Virus Spreads in Recife, Brazil",Recife,Brazil
4,Dallas man comes down with case of Zika,Dallas,United States
5,Trinidad confirms first Zika case,Trinidad,"Bolivia, Cuba, Uruguay"
6,Zika Concerns are Spreading in Houston,Houston,Ghana
7,Geneve Scientists Battle to Find Cure,,
8,The CDC in Atlanta is Growing Worried,Atlanta,United States
9,Zika Infested Monkeys in Sao Paulo,Pau,France
10,Brownsville teen contracts Zika virus,Brownsville,United States
11,Mosquito control efforts in St. Louis take new...,St. Louis,United States
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,"Argentina, Costa Rica, Philippines, Puerto Ric..."
13,"Flu outbreak in Galveston, Texas",Galveston,United States
14,Zika alert - Manila now threatened,Manila,Ivory Coast
15,Zika afflicts 7 in Iloilo City,Iloilo,Peru
16,New Los Angeles Hairstyle goes Viral,Los Angeles,United States
17,Louisiana Zika cases up to 26,,
18,Orlando volunteers aid Zika research,Orlando,United States
19,Zika infects pregnant woman in Cebu,,
20,Chicago's First Zika Case Confirmed,Chicago,United States
21,Tampa Bay Area Zika Case Count Climbs,Bay,Philippines
22,"Bad Water Leads to Sickness in Flint, Michigan",Flint,"United Kingdom, United States"
23,Baltimore plans for Zika virus,Baltimore,United States
24,London Health Unit Tracks Mad Cow Disease,London,"Canada, United Kingdom"
25,Zika cases in Vietnam's Ho Chi Minh City surge,Ho Chi Minh City,Vietnam
26,Philadelphia experts track pandemic,Philadelphia,United States
27,Flu season hits Boston,Boston,"United Kingdom, United States"
28,Scientists in Paris to look for answers,Paris,"France, United States"
29,Key Zika Findings in San Diego Institute,San Diego,"Costa Rica, United States"
30,Thailand-Zika Virus in Bangkok,Bangkok,Thailand
31,Beijing team cracks Zika secret,Beijing,China
32,Zika spreading to Salvador,Salvador,Brazil
33,Kuala Lumpur is Hit By Zika Threat,Kuala Lumpur,Malaysia
34,First Zika case confirmed in Yangon,Yangon,Myanmar
35,Tallahassee Doctors Discuss Zika Virus,Tallahassee,United States
36,Zika Virus Reaches San Francisco,San Francisco,"Argentina, Costa Rica, Philippines, Philippine..."
37,New Vaccine on Trial in Bethesda District,Bethesda,United States
38,Townsville Zika tests inconclusive,Townsville,Australia
39,Mandaluyong City under Siege by Virus,Mandaluyong City,Ivory Coast